<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>board_app</title>
  <link href="index.css" rel="stylesheet">
</head>
<style>
body{
  /* background: #FFC766; */
}

#board{
  width: 70%;
  padding: 10px 0;
  border: 1px solid #333;
  border-radius: 0.75em / 0.75em;
  margin: 0 auto;
  background: #EFEFEF;
}

.board-list{
  margin: 15px 0;
}

.board-list__upper{
  font-weight: 600;
}

.form-area, .board-title{
  width: 90%;
  margin: 0 auto;
}
</style>

<body>
  <div id="board">
     <h2>掲示板</h2>
     <board-form v-on:input="doAdd"></board-form>
     <ul class="lists" style="list-style-type: none">
       <board-list v-for="list in lists"
         v-bind:name="list.name"
         v-bind:message="list.message"
         v-bind:date="list.date">
       </board-list>
     </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</body>
</html>
<script>
// Vue.config.devtools = true;
Vue.component('board-list', {
  template: '<li class="fred">{{name}} {{date}}</br><span class="fblue">{{message}}</span></li>',
  props: ['name', 'message', 'date']
})

Vue.component('board-form', {
  template: '<div class="form-area">名前 : <input v-model="name"> </br>コメント: \
  <textarea v-model="message"></textarea> </br><button v-on:click="doAdd">書き込む</button></div>',
  data: function(){
    return{
      message: '',
      name: '名無しですがそれは'
    }
  },
  methods: {
    doAdd: function(){
      this.$emit('input', this.name, this.message)
    }
  }
})

var board = new Vue({
  el: '#board',
  data: {
    name:'',
    message: '',
    date: '',
    lists: [
    ]
  },
  methods: {
    doAdd: function(name, message){
      var now = new Date();
      this.lists.push({
        name: name,
        message: message,
        date: now.getMonth()+1 + '-' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes() + ''
      })
    }
  }
})

</script>
